            
            <div class="body-wrap">
                <div class="body-container">
                    <div class="body-header">
                        Product Catalog
                    </div>
                    <div class="body-content">
                      <div class="container">
                        <div class="row">
                            <div class="col-md-12">
                                <ol class="breadcrumb">
                                  <li><a href="#">Absorbents & Spill Control</a></li>
                                  <li class="active">Absorbents</li>
                                </ol>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="category">
                                    <div class="image">
                                        <img src="/assets/pro-2.png">
                                    </div>
                                    <div class="content">
                                        <div class="header">
                                            Absorbents
                                        </div>
                                        <ul>
                                            <li><a href="#">Absorbent Booms</a></li>
                                            <li><a href="#">Absorbent Drum Top Pads  </a></li>
                                            <li><a href="#">Absorbent Mats, Rolls & Rugs  </a></li>
                                            <li><a href="#">Absorbent Nets</a></li>
                                            <li><a href="#">Absorbent Pads</a></li>
                                            <li><a href="#">Absorbent Pillows</a></li>
                                            <li><a href="#">Absorbent Socks</a></li>
                                            <li><a href="#">Granular Absorbent</a></li>
                                        </ul>
                                        
                                    </div>
                                    <div class="clearfix"></div>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                            

                            
                        <div class="clearfix"></div>
                            
                            
                        </div>
                      </div>
                            
                            
                            
                            
                            <div class="clearfix"></div>
                            
                    </div>
                    <div class="clearfix"></div>
                </div>
               <div class="clearfix"></div> 
            </div>
              